// font overrides
@fa-font-path: "../vendor/font-awesome/fonts";
@icon-font-path: "../vendor/bootstrap/fonts/";

@font-body: 'Roboto', 'sans-serif';
@font-mono: 'Inconsolata', 'monospace';
@font-headline: 'Russo One', 'sans-serif';

@font-family-sans-serif:  @font-body;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   @font-mono;
@font-family-base:        @font-family-sans-serif;

@headings-font-family: @font-headline;
@headings-font-weight:    400;

@color-black-light: #4E4D4A;
@color-black-dark: #353432;
@color-green: #94BA65;
@color-blue-light: #2790B0;
@color-blue-dark: #2B4E72;

@body-bg: @color-black-dark;
@text-color: #FFFFFF;
@link-color: @color-blue-light;
@link-hover-color: @color-green;
@font-size-base: 16px;

@footer-height: 74px;